<li class="lovelife-list-item<{i}> lovelife-list-col2  sidebarpointer" >

    <div class="lovelife-list-title">
        <h3><{channel_title}> </h3>
        <ul>
            <{channel_link}>
        </ul>
    </div>
    <div class="lovelife-list-content">
        <div class="lovelife-list-content-box">
            <div class="lovelife-list-content-leimg">
                <{main_goods}>
            </div>
            <ul class="lovelife-list-content-riimg">
                <{four_goods}>
                      </ul>
            <ul class="lovelife-list-content-mdimg">
                <{foot_goods}>
            </ul>
        </div>
    </div>
    <div class="lovelife-list-smimg">
        <span class="lovelife-list-smimg-leftarrow">&lt;</span>
        <span class="lovelife-list-smimg-rightarrow">&gt;</span>
        <div class="lovelife-list-smimg-box">
            <ul>
                <{brands}>
            </ul>
        </div>
    </div>


</li>