<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
好吃评分

<form action="" method="post">
    苹果：<input type="text" name="苹果" value="100">
    桔子：<input type="text" name="桔子" value="100">
    香蕉：<input type="text" name="香蕉" value="100">
    梨子：<input type="text" name="梨子" value="100">
    桃：<input type="text" name="桃" value="100">
    西瓜：<input type="text" name="西瓜" value="100">
    菠萝：<input type="text" name="菠萝" value="100">
    荔枝：<input type="text" name="荔枝" value="100">

    <input type="submit" value="确定添加" name="submit">


</form>


</body>
</html>